*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #ffffff;
    color: #222;
}

/* HERO */

.hero{
    max-width: 1200px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
}

.hero-imagen{
    flex: 1;
}

.hero-imagen img{
    width: 100%;
    max-width: 450px;
    display: block;
    margin: auto;
}

.hero-contenido{
    flex: 1;
}

.hero-contenido h1{
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-contenido span{
    color: #4f7cff;
}

.hero-contenido p{
    color: #777;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.hero-botones{
    display: flex;
    gap: 20px;
}

.btn-principal{
    background: #4f7cff;
    color: white;
    padding: 14px 24px;
    border-radius: 6px;
    text-decoration: none;
}

.btn-secundario{
    color: #333;
    text-decoration: none;
    padding: 14px 24px;
}

/* PROGRAMAS */

.programas{
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
}

.titulo-seccion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.titulo-seccion h2{
    font-size: 35px;
    width: 500px;
}

.titulo-seccion a{
    text-decoration: none;
    color: #4f7cff;
    font-weight: bold;
}

.contenedor-programas{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
}

.programa-card{
    background: linear-gradient(
        135deg,
        #457cf5,
        #29b7d9
    );

    color: white;
    padding: 25px 20px;
    border-radius: 8px;
    min-height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.programa-card span{
    font-size: 12px;
}

.programa-card h3{
    font-size: 22px;
}

.programa-card a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* CURSOS */

.cursos-destacados{
    max-width: 1200px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
}

.cursos-destacados h2{
    font-size: 40px;
    margin-bottom: 10px;
}

.cursos-destacados p{
    color: #777;
}

.contenedor-cursos{
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

.curso-card{
    flex: 1;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,.08);
}

.curso-img{
    height: 170px;
    background: linear-gradient(
        135deg,
        #3977f5,
        #27c3d8
    );
}

.curso-info{
    padding: 20px;
    text-align: left;
}

.curso-info h3{
    margin: 15px 0;
    font-size: 22px;
}

.precio{
    margin: 20px 0;
}

.precio strong{
    font-size: 24px;
}

.curso-info button{
    background: #4f7cff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* TESTIMONIO */

.testimonio{
    background: #f5f7fb;
    margin-top: 100px;
    padding: 80px 20px;
}

.testimonio-contenido{
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.testimonio-contenido img{
    width: 100px;
    margin-bottom: 20px;
}

.testimonio-contenido p{
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.testimonio-contenido h3{
    margin-bottom: 10px;
}

.testimonio-contenido span{
    color: gray;
}

/* EXPERTOS */

.expertos{
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.expertos-texto{
    flex: 1;
}

.expertos-texto h2{
    font-size: 42px;
    margin-bottom: 20px;
}

.expertos-texto p{
    color: #777;
    margin-bottom: 25px;
}

.expertos-texto ul{
    list-style: none;
}

.expertos-texto li{
    margin-bottom: 15px;
    color: #555;
}

.formulario{
    flex: 1;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,.08);
}

.form-header{
    background: #4f7cff;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 22px;
    font-weight: bold;
}

.formulario form{
    padding: 30px;
    display: grid;
    gap: 15px;
}

.formulario input{
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.formulario button{
    background: #4f7cff;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 5px;
    cursor: pointer;
}